.cards-container {
    width: -webkit-fill-available;
    background-color: #f0f0f0;
    overflow-y: scroll;
}
.white-bg-heading {
    margin-top: 50px;
    margin-left: 50px;
    max-width: 1100px;
    padding: 11px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%);
    font-weight: 400;
}

.white-bg-heading:first-letter {
    text-transform: uppercase;
}

.white-bg-headingx {
    margin-top: 50px;
    margin-left: 50px;
    width: fit-content;
    padding: 11px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 6%);
    font-weight: 400;
    margin-bottom: 50px;
}